.a:hover{


  transition-duration:       .5s;
  transform: .5s;

 }

 .fa-home{
     font-size: 15px;
 }
 .img{
     height: 150px;
     width: 150px;
 }
 .q1{
     justify-content: center;
 }
 /* .d-block{
     border-radius: 10px;
 } */

 .gs{
     justify-content: center;
 }
 .font-lao{
   font-family: noto;
 }
.footer {
  position: fixed;
}
