
<div class="container h-100 bg-p">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="assets/images/logo.png" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">

        <form #loginForm="ngForm" (submit)="onLogin(loginForm)">

          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user mt-2 mb-2"></i></span>
            </div>
            <input type="text" name="email" ngModel #emailInput="ngModel" class="form-control input_user" required email  placeholder="ອີເມວ">

          </div>
          <small class="text-danger" *ngIf="emailInput.invalid">Please Enter Mail</small>
          <div class="input-group mb-2 mt-4">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key mt-2 mb-2"></i></span>
            </div>
            <input type="password" name="password" ngModel #passwordInput="ngModel" required class="form-control input_pass" placeholder="ລະຫັດຜ່ານ">
          </div>
          <small class="text-danger" *ngIf="passwordInput.invalid">Please Enter Password</small>


         <button type="submit" class="btn login_btn">ລ໋ອກອິນ</button>

        </form>
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple" [fullScreen]="true">
      </ngx-spinner>

      </div>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          <a href="#" class="ml-2"> ລົງທະບຽນ</a>
        </div>
        <div class="d-flex justify-content-center links">
          <a href="#"> ລືມລະຫັດຜ່ານ?</a>
        </div>
      </div>
    </div>
  </div>
</div>
