


<!-- Section-->


<div  class="row mt-5 gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

  <div *ngFor="let product of foodlist" class="row font-lao my-3">
    <div class="col">
      <div class="card shadow-sm">
        <img class="bd-placeholder-img card-img-top" [src]="product.image">

        <div class="card-body">
          <p class="card-text">
            <strong class="text-muted">{{ product.name }}</strong>
          </p>
          <p class="card-text">
            <strong class="text-muted">{{ product.price | currency:'KIP' }}</strong>
          </p>
          <p class="card-text">{{ product.description }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" (click)="addtocart(product)">Add to Cart</button>
              <button type="button" class="btn btn-secondary" routerLink="/buy/{{ product.pro_id}}" >View Detail</button>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
    </div>






