<div class="container d-flex justify-content-center">

  <div class="form-wrapper">

    <div class="s2 form_container mt-5 border border-primary p-2 px-4 pb-4">

    <div class="container">
      <div class="title_container mt-5 mb-3 " >
        <h2>Register Form</h2>
      </div>

      <div class="row clearfix">
        <div class="row">
          <form>

            <div class="row justify-content-between">

              <div class="input_field mb-2 col-md-4 f1">
                <input class="f1" type="email" name="email" placeholder="Email" required />
              </div>

              <div class="input_field mb-2 col-md-4 f2">
                <input class="f1" type="password" name="password" placeholder="Password" required />
              </div>

              <div class="input_field mb-2 col-md-4 f3">
                <input class="f1" type="password" name="password" placeholder="Re-type Password" required />
              </div>

            </div>



            <div class="row clearfix justify-content-between">


                  <div class="input_field mb-2 col-md-4 f4">
                    <input class="f1" type="text" name="name" placeholder="First Name"/>
                </div>


                  <div class="input_field mb-2 col-md-4 f5">
                    <input class="f1" type="text" name="name" placeholder="Last Name" required />
                </div>

                <div class="input_field mb-2 col-md-4 f6">
                  <input class="f1" type="text" name="tel" placeholder="Phone Number" required />
                </div>

            </div>
                <div class="input_field radio_option mb-2 mt-2 row d-flex">
                  <div class="input_field mb-2 col-md-4 " >
                    <input class="f1" type="date" style="width: 188px;">
                  </div>

                  <div class=" col-sm-5">
                    <input class="c1" type="radio" name="radiogroup1" id="rd1">
                    <label class="mx-1" for="rd1">Male</label>

                    <input class="c2" type="radio" name="radiogroup1" id="rd2">
                    <label class="mx-1" for="rd2">Female</label>
                  </div>

                  

                </div>

                <div class="row mb-2 mt-2">

                  <div class="Village  mb-2 col-md-4">
                    <select class="s1" name="" id="">
                      <option value="">Select Village</option>
                      <option value="">Nongtaeng</option>
                      <option value="">Nongbuatha</option>
                    </select>
                  </div>

                  <div class="select_district  mb-2 col-md-4">
                    <select class="s1" name="" id="">
                      <option value="">Select District</option>
                      <option value="">ສີໂຄດ</option>
                      <option value="">ສີສັດຕະນາກ</option>
                    </select>
                  </div>


                  <div class="select_province mb-2 col-md-4">
                    <select class="s1" name="" id="">
                      <option value="">Select Province</option>
                      <option value="">ນະຄອນຫຼວງ</option>
                      <option value="">ຫຼວງພະບາງ</option>
                    </select>
                  </div>


                </div>




              <div class="input_field checkbox_option">
                <input  type="checkbox" id="cb1">
            <label class="mx-2" for="cb1">I agree with terms and conditions</label>
              </div>

              <div class="input_field checkbox_option">
                <input  type="checkbox" id="cb2" >
            <label class="mx-2" for="cb2">I want to receive the newsletter</label>
              </div>

              <div class="row justify-content-center">
            <input class="w-50 q1 button mt-2" type="submit" value="Register" />
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>



