<div class="d1 ">
  <div class="container d-flex justify-content-center">

    <div class=" d2 form-wrapper">

      <div class="s2 form_container mb-5 mt-5 border border-primary p-2 px-4 pb-4">


        <div class="container">
          <div class="title_container mt-3 mb-3 ">
            <h2>ຟອມລົງທະບຽນ</h2>
          </div>

          <div class="d-flex justify-content-center">
            <div class="col-md-0 mb-4">
              <form class="md-form">
                <div class="file-field">
                  <div class="mb-1">
                    <img src="assets/images/13.png" class="rounded-circle z-depth-1-half avatar-pic"
                      alt="example placeholder avatar">
                  </div>
                  <div class="m1 d-flex justify-content-center">

                    <span class="n1 btn btn-lg btn-primary ">ອັບໂຫລດຮູບ</span>
                    <input class="m2" type="file" name="file" />


                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="row clearfix">
            <div class="row">
              <form>




                <div class="row clearfix justify-content-between">


                  <div class="input_field mb-2 col-md-4 f4">
                    <div class="label">ຊື່ແທ້</div>
                    <input class="f1" type="text" name="name" placeholder="ຊື່" />
                  </div>


                  <div class="input_field mb-2 col-md-4 f5">
                    <div class="label">ນາມສະກຸນ</div>
                    <input class="f1" type="text" name="name" placeholder="ນາມສະກຸນ" required />
                  </div>

                  <div class="input_field mb-2 col-md-4 f6">
                    <div class="label">ເບີໂທ</div>
                    <input class="f1" type="text" name="tel" placeholder="ເບີໂທ" required />
                  </div>

                </div>

                <div class="row justify-content-between">

                  <div class="input_field mb-2 col-md-4 f1">
                    <div class="label">ອີເມວ</div>
                    <input class="f1" type="email" name="email" placeholder="ອີເມວ" required />
                  </div>

                  <div class="input_field mb-2 col-md-4 f2">
                    <div class="label">ລະຫັດຜ່ານ</div>
                    <input class="f1" type="password" name="password" placeholder="ລະຫັດຜ່ານ" required />
                  </div>

                  <div class="input_field mb-2 col-md-4 f3">
                    <div class="label">ຢືນຢັນລະຫັດຜ່ານ</div>
                    <input class="f1" type="password" name="password" placeholder="ຢືນຢັນລະຫັດຜ່ານ" required />
                  </div>

                </div>



                <div class="row">

                  <div class="input_field mb-2 col-md-4 f3">
                    <div class="label">ວັນເດືອນປີເກີດ</div>
                    <input class="f1" type="date" style="width: 188px;">
                  </div>

                  <div class="input_field mb-2 col-md-4 f3">
                    <div class="label">ເພດ</div>
                    <input class="c1" type="radio" name="radiogroup1" id="rd1">
                    <label class="mx-1" for="rd1">ຊາຍ</label>

                    <input class="c2" type="radio" name="radiogroup1" id="rd2">
                    <label class="mx-1" for="rd2">ຍິງ</label>
                  </div>

                </div>


                <div class="row ">
                  <div class="Village  mb-3 col-md-4">
                    <div class="label">ບ້ານ</div>
                    <select class="s1 " name="" id="">
                      <option value="">ເລືອກບ້ານ</option>
                      <option value="">Nongtaeng</option>
                      <option value="">Nongbuatha</option>
                    </select>
                  </div>

                  <div class="select_district  mb-3 col-md-4">
                    <div class="label">ເມືອງ</div>
                    <select class="s1" name="" id="">
                      <option value="">ເລືອກເມືອງ</option>
                      <option value="">ສີໂຄດ</option>
                      <option value="">ສີສັດຕະນາກ</option>
                    </select>
                  </div>


                  <div class="select_province mb-3 col-md-4">
                    <div class="label">ແຂວງ</div>
                    <select class="s1" name="" id="">
                      <option value="">ເລືອກແຂວງ</option>
                      <option value="">ນະຄອນຫຼວງ</option>
                      <option value="">ຫຼວງພະບາງ</option>
                    </select>
                  </div>

                  


                </div>

                <div class="row justify-content-center">
                  <input class="e1 w-50 btn-lg btn-primary button mt-3" type="submit" value="ລົງທະບຽນ" />
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>