.s2{
    background-color: rgb(221, 242, 242);
    border-radius: 20px; 
}
.f1{
    border-radius: 5px;
}
.s1{
    padding: 5px;
    border-radius: 5px;
}
.c2{
    
    margin-left: 15px;
}

.d1{
    padding: 50px;
    
    background-color: rgb(144, 254, 254);
    /* height: 100vh; */
    
}

.avatar-pic {
    width: 150px;
    }
.m1 {
        position: relative;
        overflow: hidden;
        
      }
.m2 {
    
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
      }

.n1 {
    
    justify-content: center;
        font-size: 15px;
}

.e1{
    font-size: 18px;
}




